.back {
    background-color:#c2c2a3;
    color: #1f1f14;
}

.image {
    background-color: #c2c2a3;
    color: #1f1f14;
}
div {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }